<p id="notice"><%= notice %></p>

<h1>Listing Organizations</h1>

<table class="table">
  <thead>
    <tr>
      <th>Organization name</th>
      <th>Address line 1</th>
      <th>Address line 2</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Map link</th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td><%= link_to organization.organization_name, organization %></td>
        <td><%= organization.address_line1 %></td>
        <td><%= organization.address_line2 %></td>
        <td><%= organization.city %></td>
        <td><%= organization.state %></td>
        <td><%= organization.zip %></td>
        <td><%= link_to "Map it!", "http://maps.google.com/maps?z=12&t=m&q=loc:#{organization.latitude}+#{organization.longitude}", target: :blank %></td>
        <td><%# link_to 'Show', organization %></td>
        <td><%= link_to 'Edit', edit_organization_path(organization) %></td>
        <td><%= link_to 'Destroy', organization, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Organization', new_organization_path %>
