<p id="notice"><%= notice %></p>

<p>
  <strong>Organization name:</strong>
  <%= @organization.organization_name %>
</p>

<p>
  <strong>Address line1:</strong>
  <%= @organization.address_line1 %>
</p>

<p>
  <strong>Address line2:</strong>
  <%= @organization.address_line2 %>
</p>

<p>
  <strong>City:</strong>
  <%= @organization.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @organization.state %>
</p>

<p>
  <strong>Zip:</strong>
  <%= @organization.zip %>
</p>

<p>
  <strong>Map link:</strong><br />
  <iframe
  width="600"
  height="450"
  title="map-frame" style="border:0"
  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAmflxW33R8NRh2ynV70jtyOZeV543pYKA&zoom=18&maptype=satellite&q=<%= "#{@organization.latitude}+#{@organization.longitude}" %>">
  </iframe>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
